ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
}

.section__wrapper {
    display: flex;
    background: #EDEAE6;
}

.logo {
    flex-grow: 2;
    height: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;

}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    padding: 5px;
}

.menu {
    flex-grow: 1;
    height: 85px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.menu__img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.tel__wrapper {
    flex-grow: 1;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center
}

.tel {
    background-image: url('./img/phone_btn.svg');
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}

.main__wrapper-bird {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.main__wrapper-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}



.menu__list {
    display: none;
}

@media(min-width: 375px) {
    .main__wrapper-bird {
        height: 47vh;
    }
}

@media(min-width: 650px) {}

@media(min-width: 1100px) {
    .wrapper {
        display: flex;
    }

    .header_wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .main__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .section__wrapper {
        display: flex;
        background: #EDEAE6;
        flex-direction: column;
        height: 100%;
    }

    .aboutCompany {
        display: none;
        margin-top: 10px;
    }

    .contact {
        display: none;
        margin-top: 10px;
    }

    .services-list {
        display: none;
        margin-top: 10px;
    }

    .menu {
        flex-direction: column;
    }

    .menu__img {
        display: none;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__item {
        padding: 10px;
        cursor: pointer;
    }

    .tel__wrapper {
        display: none;
    }

    .adress {
        display: flex;
        justify-content: space-around;
    }

    .address__item {
        display: flex;
        flex-direction: column;
    }
}